<h1>Listing stores</h1>

<table>
  <tr>
    <th> title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quality</th>
    <th>Distance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store. title %></td>
    <td><%= store.description %></td>
    <td><%= store.price %></td>
    <td><%= store.quality %></td>
    <td><%= store.distance %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path %>
