<h1>Listing testes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quality</th>
    <th>Distance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testes.each do |testis| %>
  <tr>
    <td><%= testis.title %></td>
    <td><%= testis.description %></td>
    <td><%= testis.price %></td>
    <td><%= testis.quality %></td>
    <td><%= testis.distance %></td>
    <td><%= link_to 'Show', testis %></td>
    <td><%= link_to 'Edit', edit_testis_path(testis) %></td>
    <td><%= link_to 'Destroy', testis, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teste', new_testis_path %>
